.banner {
  color: white;
  text-align: center;
  height: 85vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}


.banner_modale {
  padding: 40px;
  border-radius: 7px;
  opacity: 0.9;
  background-color: #EB5B51;
  background-image: linear-gradient(to right, #EB5B51 , #EB7551);
}

.max-opacity {
  opacity: 1 !important;
  z-index: 4;
}
