hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid #ccc;
    // margin: 1em 0;
    // padding: 0;
    width: 150px;
}


.hp-container {
  margin: 0px 90px;
}

.hp-white {
  background-color: white;
  padding: 80px;
}

.hp-grey {
  background-color: #ccc ;
}

.hp-red {
  background-color: red;
  padding: 80px;
}
