hr {
    display: block;
    height: 6px;
    border: 0;
    // border-top: 4px solid #ef4d4c;
    background-color: #EB5B51;
    background-image: linear-gradient(to right, #EB5B51 , #EB7551);
    // margin: 1em 0;
    // padding: 0;
    width: 165px;
}


@media(max-width: 720px) {
  .hp-container {
    padding: 60px 25px;
  }
}

@media(min-width: 720px) {
  .hp-container {
    padding: 130px 200px;
  }
}





.hp-white {
  background-color: white;
}

.hp-grey {
  background-color: #ccc ;
}

.hp-red {
  background-color: #eb5651;
  padding: 80px;
}

.hp-card-title {
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 15px;
}

.white {
  background-color: white;
}

.font-white {
  color: white;
}

.white:hover {
  background-color: black;
  transition: 0.3s ease;
}

.btn-red {
  background-color: #EB5B51;
  background-image: linear-gradient(to right, #EB5B51 , #EB7551);
  padding: 5px 20px;
  border-radius: 7px;
  color: white;
}

.btn-red:hover {
  color: white;
  background-color: black;
  background-image: none;
  transition: 0.3s ease;
}

.btn-white {
  background-color: white;
  padding: 5px 20px;
  border-radius: 6px;
  margin: 20px;
  width: 170px;
  color: #EB5651;
}

.btn-white:hover {
  color: white;
  background-color: black;
  transition: 0.3s ease;
}

.hp-input {
  box-shadow: 1px 2px 3px #ddc3c3;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 50px;
}

input{
   text-align:center;
}



.small {
  font-size: 10px;
}


// POUR LES CONTOURS DES ICONES

.img-rounded {
  display: flex;
  width: 130px;
  height: 130px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #EB5B51;
  margin: 30px auto;
}

.img-basic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 60px;
  width: 35px;
}


// DEFINITION OF THE FLEXBOX FOR THE VALUES SECTION OF HP



@media(max-width: 720px) {
 .values {
   padding-top: 40px;
   display: flex;
   // justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
 }
}

.values {
  padding-top: 40px;
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  // flex-wrap: wrap;
}

.value-title {
  font-weight: bolder;
  padding-right: 30px;
  min-width: 150px;
  flex: none;
}

.margin-hr-value {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 0px;
  width: 50px;
  flex: none;
}


// SECTION TEMOIGNAGE - Avatar

.avatar {
  width: 70px;
  border-radius: 50%;
  margin: 20px;
}


.img-spacing {
  padding: 10px;
  width: 250px;
}

.arrow {
  color:#EB5B51;
  cursor: pointer;
  font-size: 30px;
}
