hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid #ef4d4c;
    // margin: 1em 0;
    // padding: 0;
    width: 150px;
}


@media(max-width: 720px) {
  .hp-container {
    padding: 10px 10px;
  }
}

@media(min-width: 720px) {
  .hp-container {
    padding: 60px 200px;
  }
}





.hp-white {
  background-color: white;
}

.hp-grey {
  background-color: #ccc ;
}

.hp-red {
  background-color: #ef4d4c;
  padding: 80px;
}

.hp-card-title {
  font-weight: bold;
  padding-bottom: 15px;
}

.white {
  background-color: white;
}

.white:hover {
  background-color: black;
  transition: 0.3s ease;
}

.btn-red {
  background-color: #ef4d4c;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
}

.btn-red:hover {
  color: white;
  background-color: black;
  transition: 0.3s ease;
}

.btn-white {
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;
}

.btn-white:hover {
  color: white;
  background-color: black;
  transition: 0.3s ease;
}
